
@{
    string guid = Guid.NewGuid().ToString();

    string app = Request.RequestContext.RouteData.Values["app"].ToString();
    string main = Request.RequestContext.RouteData.Values["main"].ToString();
    
}

@section scripts {
    <script type="text/javascript">   
        require.config({
            baseUrl: "/Scripts",
            paths: {
                text: "/Scripts/text",
                apps: "/Apps"
            }
        });

        define("el", [], function(){
            return document.getElementById("@guid");
        });

        require(["apps/@app/main/@main"]);
    </script>
}

<div id="@guid"></div>
