
@{
    ViewBag.Title = "Detail";
    int id = Model;
    string scriptId = Guid.NewGuid().ToString();
    string updateFormId = Guid.NewGuid().ToString();    
}

@section scripts{
    <script id="@scriptId" type="text/javascript">
        var personDetailModel = {            
            el: $("#@updateFormId"),
            data: { id: 0, name: "" },
            getId: function () {
                return this.data.id;
            },
            getName: function () {
                return this.data.name;
            },
            setId: function (val) {
                this.el.find("[data-text=id]").each(function () {
                    $(this).text(val);
                });
                this.el.find("[data-value=id]").each(function () {
                    $(this).val(val);
                });

                this.data.id = val;
            },
            setName: function (val) {
                this.el.find("[data-text=name]").each(function () {
                    $(this).text(val);
                });
                this.el.find("[data-value=name]").each(function () {
                    $(this).val(val);
                });

                this.data.name = val;
            },
            render: function () {
                var self = this;

                this.el.find("[data-value=id]").on("change", function () {
                    self.setId($(this).val());
                });
                this.el.find("[data-value=name]").on("change", function () {
                    self.setName($(this).val());
                });

                this.el.find("[data-event-click]").each(function(){
                    var method = $(this).attr("data-event-click");

                    $(this).on("click", function () {
                        self[method]();
                    });
                });

                var personQuery = { id: "@id" };

                $.ajax({
                    url: "/home/load",
                    method: "post",
                    data: personQuery,
                }).done(function (data) {
                    self.setId(data.Id);
                    self.setName(data.Name);

                }).fail(function (data) {
                    alert("error!");
                });
            },
            update: function () {
                var updateCommand = { id: this.getId(), name: this.getName() };

                $.ajax({
                    url: "/home/update",
                    method: "post",
                    data: updateCommand,
                }).done(function (data) {
                    if (data) {
                        location.href = "/home";
                    } else {
                        alert("error!");
                    }

                }).fail(function (data) {
                    alert("error!");
                });
            },
            remove: function () {
                var removeCommand = { id: this.getId() };

                $.ajax({
                    url: "/home/remove",
                    method: "post",
                    data: removeCommand,
                }).done(function (data) {
                    if (data) {
                        location.href = "/home";
                    } else {
                        alert("error!");
                    }

                }).fail(function (data) {
                    alert("error!");
                });
            }
        };

        personDetailModel.render();
    </script>
}

<h2>Detail</h2>

<div class="row">
    <div class="col-md-12">
        <form id="@updateFormId">
            <label>id</label> <span data-text="id"></span><input type="hidden" data-value="id" /><br />
            <label>name</label> <input type="text" data-value="name" />
            <br />
            <br />
            <button type="button" data-event-click="update">update</button>            
            <button type="button" data-event-click="remove">remove</button>    
        </form>
    </div>
</div>



