@{
    ViewBag.Title = "Home Page";
}

@section scripts{            
    <script src="~/scripts/require.js"></script> 
    <script type="text/javascript">
        require.config({            
            baseUrl: "/scripts",
        });

        require(["viact", "home/listApp"], function (viact, app) {
            var el = document.getElementById("sample");            
            viact.mold(el, app);
        });
</script>
}

<h2>Index</h2>

<div class="row">
    <div class="col-md-12">                                
        <div id="sample"></div>        
    </div>    
</div>