@{
    ViewBag.Title = "Home Page";
}

@section scripts{            
    <script src="~/scripts/require.js"></script> 
    <script type="text/javascript">
        require.config({
            urlArgs: "bust=v3",
            baseUrl: "/scripts",
        });

        require(["figuram", "home/listApp"], function (figuram, app) {
            var el = document.getElementById("sample");            
            figuram.render(el, app);
        });
</script>
}

<div class="row">
    <div class="col-md-12">
        <h2>name list</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-12">                                
        <div id="sample"></div>        
    </div>    
</div>