@{
    ViewBag.Title = "Home Page";
}

@section scripts{            
    <script src="~/scripts/require.js"></script> 
    <script type="text/javascript">
        require.config({
            urlArgs: "bust=v3",
            baseUrl: "/scripts",
        });

        require(["figuram", "home/components/list"], function (figuram, list) {
            var el = document.getElementById("app");
            figuram.render(el, list);
        });
</script>
}

<div class="row">
    <div class="col-md-12">
        <h2>name list</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-12">                                
        <div id="app"></div>        
    </div>    
</div>