@{
    ViewBag.Title = "Home Page";
    string scriptId = Guid.NewGuid().ToString();
    string listId = Guid.NewGuid().ToString();  
}

@section scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-serialize-object/2.0.0/jquery.serialize-object.compiled.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.1.20/require.js"></script>
    <script src="~/Scripts/bundle.js"></script>
    <script id="template" type="text/html">
        <form id="{{formId}}">
            <table>
                <thead>
                    <tr><th>id</th><th>name</th></tr>
                </thead>
                <tbody>
                    {{#list}}
                    <tr>
                        <td>{{id}}<input type="hidden" name="list[][id]" value="{{id}}" /></td>
                        <td><input id="{{refId}}" type="text" name="list[][name]" value="{{name}}" onkeyup="{{action}}" /></td>
                        <td>{{name}}</td>
                    </tr>
                    {{/list}}
                </tbody>
            </table>
        </form>
    </script>
    <script type="text/javascript">
        
        var el = document.getElementById("comp");

        var data = {
            item: "aaa"
        }

        var rootVnode = new VNode("div", { id: "comp" }, []);

        var rootDnode = createElement(rootVnode);

        el.appendChild(rootDnode);

        var vnodes = [];
        var dnodes = [];

        var action = function (e) {

        }

        var createAction = function (data, name) {
            var action = function (e) {
                data[name] = e.target.value;

                var newVnodes = [];

                for (var i = 0; i < vnodes.length; i++) {
                    newVnodes.push(new VNode("input", { type: "text", value: data.item, onkeyup: action }, []));
                }

                newVnodes.push(new VNode("div", { }, [ new VText(data.item) ]));                

                for (var i = 0; i < newVnodes.length; i++) {
                    if (i < vnodes.length){
                        var material = diff(vnodes[i], newVnodes[i]);
                        dnodes[i] = patch(dnodes[i], material);
                    } else {                        
                        var lastDnode = dnodes[i - 1];

                        dnode = createElement(newVnodes[i]);
                        dnodes.push(dnode);

                        lastDnode.parentElement.insertBefore(dnode, lastDnode.nextSibling);
                    }                    
                }

                vnodes = newVnodes;
            }

            return action;            
        }

        action = createAction(data, "item");        
        
        vnodes.push(new VNode("input", { type: "text", value: data.item, onkeyup: action }, []));
        vnodes.push(new VNode("input", { type: "text", value: data.item, onkeyup: action }, []));
        vnodes.push(new VNode("input", { type: "text", value: data.item, onkeyup: action }, []));

        var prevDnode = null;

        vnodes.forEach(function (vnode) {
            dnode = createElement(vnode);

            dnodes.push(dnode);

            if (prevDnode == null) {
                el.parentElement.replaceChild(dnode, el);
                prevDnode = dnode;
            } else {
                prevDnode.parentElement.insertBefore(dnode, prevDnode.nextSibling);
                prevDnode = dnode;
            }
        });
    </script>
    <script type="text/javascript" src="~/Scripts/lib/q.js"></script>
    <script type="text/javascript">
        var initAction = function () {
            var d = Q.defer();
            setTimeout(function () {
                var resolveObj
                d.resolve(resolveObj);
            });
            return d.promise;
        }

        var asyncActions = [];

        var actionSet = function () {
            var self = this;
            self.d = Q.defer();
        }

        actionSet.prototype.action = function (value) {
            var self = this;
            var d = self.d;
            alert(value);
            var resolveObj = {};
            d.resolve(resolveObj);
        }

        actionSet.prototype.createWrapAction = function (action) {
            var self = this;
            var d = self.d;

            var createAction = function () {
                action();
                return d.promise;
            }

            return createAction;
        }

        var set1 = new actionSet();

        var action1 = function () {
            setTimeout(function () {
                set1.action(1);
            }, 1000);
        }
        
        var async1 = set1.createWrapAction(action1);

        var set2 = new actionSet();

        var action2 = function () {            
            setTimeout(function () {
                set2.action(2);
            });
        }
        
        var async2 = set2.createWrapAction(action2);

        var set3 = new actionSet();

        var action3 = function () {
            set3.action(3);
        }
        
        var async3 = set3.createWrapAction(action3);

        asyncActions.push(async1);
        asyncActions.push(async2);
        asyncActions.push(async3);        

        var promies = initAction();
        asyncActions.forEach(function (action) {
            promies = promies.then(action);
        });
    </script>
}

<h2>Index</h2>

<div class="row">
    <div class="col-md-12">
        <a href="/home/new">new</a>
        <div id="@listId"></div>
        <div id="sample"> 
            bbb
            <div id="comp"></div> 
            aaa          
        </div>
    </div>
</div>
