@{
    ViewBag.Title = "Home Page";
    string scriptId = Guid.NewGuid().ToString();
    string listId = Guid.NewGuid().ToString();  
}

@section scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-serialize-object/2.0.0/jquery.serialize-object.compiled.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.1.20/require.js"></script>
    <script id="template" type="text/html">
        <form id="{{formId}}">
            <table>
                <thead>
                    <tr><th>id</th><th>name</th></tr>
                </thead>
                <tbody>
                    {{#list}}
                    <tr>
                        <td>{{id}}<input type="hidden" name="list[][id]" value="{{id}}" /></td>
                        <td><input id="{{refId}}" type="text" name="list[][name]" value="{{name}}" onkeyup="{{action}}" /></td>
                        <td>{{name}}</td>
                    </tr>
                    {{/list}}
                </tbody>
            </table>
        </form>
    </script>
    <script type="text/javascript">
        require.config({
            baseUrl: "/scripts",
            paths: {
                Mustache: "https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.2.0/mustache"
            }
        });

        require(['lib/vmustache'], function (vmustache) {
            var app = vmustache.createApp({
                init: function (options) {
                    var self = this;

                    self.render({
                        template: "<input type='text' value='{{data.name}]' /><span>{{data.name}}</span>",
                        data: { name: "" },
                        events: {
                            action: function (el, item) {
                                item.data.name = el.target.value;
                                self.render();
                            }
                        }
                    });
                }
            });

            var el = document.getElementById("sample");
            var options = {};

            vmustache.render(app, el, options);

            var app2 = vmustache.createApp({
                init: function (options) {
                    var self = this;

                    var config = {
                        template: "<div>{{compentens.app}}</div>",
                        components: {
                            app: function (el, item) {
                                var app = options.app;
                                var vmustache = options.vmustache;

                                vmustache.render(app, el, {});
                            }
                        }
                    };

                    self.render(config);
                }
            });

            var el = document.getElementById("sample2");
            var options = {
                app: app,
                vmustache: vmustache
            };            

            vmustache.render(app2, el, options);

            /*
            var vmustache = new Vmustache();            

            var data = {
                formId: vmustache.getRefKey(),
                list: []
            }

            for (var i = 0; i < 100; i++) {
                data.list.push({
                    id: i,
                    name: "name_" + i.toString(),
                    refId: vmustache.getRefKey(),
                    action: vmustache.setEvent(function (event, item) {
                        alert(event.target.value);
                        item.name = event.target.value;
                    })
                });
            }

            var html = vmustache.render(document.getElementById("template").innerHTML, data);

            var rootNode = document.getElementById("@listId");

            $(rootNode).html(html);

            data.list.forEach(function (item) {
                var val = rootNode.querySelector("#" + item.refId).value;
                item.name = val + "_update";
            });

            html = vmustache.rerender();

            $(rootNode).html(html);

            var updateObj = $("#" + data.formId).serializeObject();
            */
        });
</script>
}

<h2>Index</h2>

<div class="row">
    <div class="col-md-12">
        <a href="/home/new">new</a>
        <div id="@listId"></div>
    </div>
</div>
