
@{
    ViewBag.Title = "New";
}

<h2>New</h2>

<div class="row">
    <div class="col-md-12">
        <form action="/home/create" method="post">            
            <label>name</label> <input type="text" name="Name" value="" />
            <br />
            <br />
            <button type="submit">update</button>
        </form>
    </div>
</div>