@using DomainShell.Tests.Domain.Models
@model Person[]
@{
    ViewBag.Title = "Index";
}

@section scripts{
    <script type="text/javascript" src="/scripts/view.js"></script>
    <script type="text/javascript">        
        var Bulk = function(context, options) {
            var self = this;

            context("[name=save]").on("click", function () {
                var ids = [];

                context('.target:checked').map(function () {
                    ids.push($(this).val());
                });

                var name = context("input[name=name]").val();

                $.post("/person/bulkupdate", { ids: ids, name: name }).success(function (result) {
                    if (result.Success) {
                        location.href = "/person";
                    } else {
                        context(".message").text("fail");
                    }
                });
            });

            context(".allTarget").on("click", function () {
                if ($(this).is(':checked')) {
                    context('.target').map(function () {
                        $(this).prop("checked", true);
                    });
                } else {
                    context('.target').map(function () {
                        $(this).prop("checked", false);
                    });
                }                
            });
        }

        view({
            el: "#app",
            app: Bulk,
            parameters: {

            }
        });
    </script>
}

<h2>bulk</h2>

<div id="app">
    <div class="message"></div>

    <a href="/person">list</a><br />

    <form>
        <table>
            <thead>
                <tr>
                    <th><input class="allTarget" type="checkbox" /></th>
                    <th>Id</th>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Person person in Model)
                {
                    <tr>
                        <td>
                            <input class="target" type="checkbox" value="@person.Id" />
                        </td>
                        <td>
                            @person.Id
                        </td>
                        <td>
                            @person.Name
                        </td>
                    </tr>
                }
            </tbody>
        </table>


        <label for="name">name</label>
        <input type="text" name="name" /><br />

        <button name="save" type="button">save</button>
    </form>
</div>

