<div>
    <a href="/person">list</a><br />
    <br />
    <form>                
        <table>
            <thead>
                <tr>
                    <th><input class="allTarget" type="checkbox" /></th>
                    <th>Id</th>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>               
            </tbody>
        </table>
        <br />
        <label>
            name
            <input type="text" name="name" />
        </label>               
        <br />
        <br />
        <button name="save" type="button">save</button>
        <button name="modal" type="button">modal</button>                
    </form>        
</div>

