@using DomainShell.Tests.Web.Models
@model Person
@{
    ViewBag.Title = "Person";

    string isNew = string.IsNullOrEmpty(Model.Id) ? "true" : "false";
}

@section scripts{
    <script type="text/javascript">
        $(function () {
            var isNew = @isNew;

            if (isNew) {
                $("label[for=id]").hide();
                $("input[name=id]").hide();
                $("#remove").hide();
            }

            $("#save").on("click", function () {
                var id = $("input[name=id]").val();
                var name = $("input[name=name]").val();

                $.post(isNew ? "/person/add" : "/person/update", { id: id, name: name }).success(function (result) {
                    if (result) {
                        $("#message").text("success");
                    } else {
                        $("#message").text("fail");
                    }
                });
            });

            $("#remove").on("click", function () {
                var id = $("input[name=id]").val();
                var name = $("input[name=name]").val();

                $.post("/person/remove", { id: id, name: name }).success(function (result) {
                    if (result) {
                        location.href = "/person";
                    } else {
                        $("#message").text("fail");
                    }
                });
            });
        });
    </script>
}


<h2>Detail</h2>

<div id="message"></div>

<a href="/person">list</a>
<br />
   
<form>
    <label for="id">id</label>
    <input type="text" name="id" value="@Model.Id" /><br />

    <label for="name">name</label>
    <input type="text" name="name" value="@Model.Name" /><br />

    <button id="save" type="button">save</button>
    <button id="remove" type="button">remove</button>
</form>




