@using DomainShell.Tests.Domain.Models
@model Person
@{
    ViewBag.Title = "Person";

    string isNew = string.IsNullOrEmpty(Model.Id) ? "true" : "false";
}

@section scripts{
    <script type="text/javascript" src="/scripts/view.js"></script>
    <script type="text/javascript">
        var Detail = function(context, options) {
            var self = this;

            var isNew = options.isNew;
            var id = 0;

            if (isNew) {
                context(".id").hide();
                context("[name=remove]").hide();
            } else {
                var sections = location.href.split("/");
                id = sections[sections.length - 1];
            }

            context("[name=save]").on("click", function () {                
                var name = context("[name=name]").val();

                $.post(isNew ? "/person/add" : "/person/update", { id: id, name: name }).success(function (result) {
                    if (result) {
                        if (isNew) {
                            location.href = "/person";
                        } else {
                            context(".message").text("success");
                        }
                    } else {
                        context(".message").text("fail");
                    }
                }).fail(function (result) {
                    context(".message").html(result.responseText);
                });
            });

            context("[name=remove]").on("click", function () {                
                var name = context("[name=name]").val();

                $.post("/person/remove", { id: id, name: name }).success(function (result) {
                    if (result) {
                        location.href = "/person";
                    } else {
                        context(".message").text("fail");
                    }
                }).fail(function (result) {
                    context(".message").html(result.responseText);
                });
            });
        }

        view({
            el: "#app",
            app: Detail,
            parameters: {
                isNew: location.href.toLocaleString().indexOf("/person/new") != -1
            }
        });
    </script>
}


<h2>detail</h2>

<div id="app">
    <div class="message"></div>

    <a href="/person">list</a>
    <br />
    <br />

    <form>        
        <div class="id">
            id: @Model.Id
        </div>
        <br />
        name: <input type="text" name="name" value="@Model.Name" />
        <br />
        <br />
        <button name="save" type="button">save</button>
        <button name="remove" type="button">remove</button>
    </form>
</div>






