@{
    ViewBag.Title = "list";
}
@section scripts{           
    <script type="text/javascript">   
        require(["coco", "Person/tr"], function (coco, tr) {
            var list = {
                node: "#app",
                ready: function () {
                    var self = this;

                    $.get("/person/getall").success(function (persons) {
                        for (var id in persons) {
                            view = self.$coco({
                                model: tr,
                                params: persons[id]
                            });

                            self.$context("table tbody").append(view.el);
                        }
                    }).fail(function (result) {
                        self.$context(".message").html(result.responseText);
                    });

                    self.$context("[name=output]").on("click", function () {
                        location.href = "/person/output";
                    });
                }
            }

            var view = coco({
                model: list
            });

            $("#app").replaceWith(view.el);
        });        
    </script>
}
<h2>list</h2>

<div id="app">
    <div class="message"></div>

    <a href="/person/new">new</a>
    <a href="/person/bulk">bulk</a>
    <br />
    <br />
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <br />
    <form>
        <button name="output" type="button">output</button>
    </form>
</div>

