@{
    ViewBag.Title = "list";
}
@section scripts{       
    <script type="text/javascript" src="/scripts/coco.js"></script>    
    <script type="text/javascript">   
        var tr = {
            template: " \
                <tr> \
                    <td coco-pin='id'> \
                        <a href='/person/detail/'></a> \
                    </td> \
                    <td coco-pin='name'></td> \
                </tr> ",
            ready: function (context, params, coco) {
                context.pin("id", "a").attr("href", "/person/detail/" + params.Id);
                context.pin("id", "a").text(params.Id);
                context.pin("name").text(params.Name);
            }
        }

        coco.container.tr = tr;

        var list = {
            template: "#app",
            ready: function (context, params, coco) {
                $.get("/person/getall").success(function (persons) {
                    for (var id in persons) {
                        view = coco({
                            model: "tr",
                            params: persons[id]
                        });

                        context("table tbody").append(view.el);
                    }                    
                }).fail(function (result) {
                    context(".message").html(result.responseText);
                });

                context("[name=output]").on("click", function () {
                    location.href = "/person/output";
                });
            }
        }

        var view = coco({            
            model: list
        });

        $("#app").replaceWith(view.el);
    </script>
}
<h2>list</h2>

<div id="app">
    <div class="message"></div>

    <a href="/person/new">new</a>
    <a href="/person/bulk">bulk</a>
    <br />
    <br />
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <br />
    <form>
        <button name="output" type="button">output</button>
    </form>
</div>

