<div>    
    <button type="button" name="prev">prev</button>
    <button type="button" name="next">next</button>
    <button type="button" name="append">append</button>
    <button type="button" name="prepend">prepend</button>
    <button type="button" name="remove">remove</button>
    <button type="button" name="removeAll">removeAll</button>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
            </tr>
        </thead>        
        <tbody>            
            <tr coco-component="tr" coco-component-type="each">
                <td class="id"></td>
                <td class="name"></td>
            </tr>
        </tbody>
    </table>    
</div>