<div>
    <a href="/person/new">new</a>
    <a href="/person/bulk">bulk</a>
    <br />
    <br />
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
            </tr>
        </thead>        
        <tbody>
            <tr coco-component="tr" coco-component-type="each"></tr>
        </tbody>
    </table>
    <br />
    <form>
        <button name="output" type="button">output</button>
    </form>
</div>