<div>    
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
            </tr>
        </thead>        
        <tbody>
            <tr coco-component="tr" coco-component-type="each">
                <td class="id"></td>
                <td class="name"></td>
            </tr>
        </tbody>
    </table>
</div>