@{
    ViewBag.Title = "list";
}
@section scripts{       
    <script type="text/javascript" src="/scripts/figuram.js"></script>   
    <script id="tr-template" type="text/html">
        <td class="id">
            <a href="/person/detail/"></a>
        </td>
        <td class="name">
            
        </td>
    </script>
    <script type="text/javascript">   
        var tr = {
            template: $("#tr-template").html(),
            ready: function (context, parameters) {
                context(".id a").attr("href", "/person/detail/" + parameters.id);
                context(".id a").text(parameters.id);
                context(".name").text(parameters.name);
            }
        }

        var list = {
            ready: function (context, parameters, figuram) {
                $.get("/person/getall").success(function (persons) {
                    for (var id in persons) {
                        var person = persons[id];

                        var trEl = $("<tr>");
                        context("table tbody").append(trEl);

                        figuram({
                            el: trEl,
                            app: tr,
                            parameters: { id: person.Id, name: person.Name }
                        });
                    }                    
                }).fail(function (result) {
                    context(".message").html(result.responseText);
                });

                context("[name=output]").on("click", function () {
                    location.href = "/person/output";
                });
            }
        }

        figuram({
            el: "#app",
            app: list
        });
    </script>
}
<h2>list</h2>

<div id="app">
    <div class="message"></div>

    <a href="/person/new">new</a>
    <a href="/person/bulk">bulk</a>
    <br />
    <br />
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>            
        </tbody>        
    </table>
    <br />
    <form>
        <button name="output" type="button">output</button>
    </form>
</div>

