<div>     
    <table>
        <thead>
            <tr>
                <th>Cart Item Id</th>
                <th>Produnt Id</th>
                <th>Produnt Name</th>
                <th>Price</th>
                <th>Number</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td coco-pin="cartItemId"></td>
                <td coco-pin="productId"></td>
                <td coco-pin="productName"></td>
                <td coco-pin="price"></td>                
                <td coco-pin="number"></td>                
            </tr>        
        </tbody>
    </table>    
</div>