<div>     
    <a href="/Shop/Cart">cart</a>
    <table coco-pin="cart" class="table">
        <thead>
            <tr>
                <th>CartItemId</th>
                <th>ProduntId</th>
                <th>ProduntName</th>
                <th>Price</th>
                <th>Number</th>                
            </tr>
        </thead>
        <tbody>
            <tr>
                <td coco-pin="cartItemId"></td>
                <td coco-pin="productId"></td>
                <td coco-pin="productName"></td>
                <td coco-pin="price"></td>                
                <td coco-pin="number"></td>                
            </tr>        
        </tbody>
    </table>   
    <table>
        <tbody>
            <tr>
                <th>
                    shippingAddress
                </th>
                <td>
                    <input type="text" coco-pin="shippingAddress" />
                </td>
            </tr>
            <tr>
                <th>
                    creditCardNo
                </th>
                <td>
                    <input type="text" coco-pin="creditCardNo" />
                </td>
            </tr>
            <tr>
                <th>
                    creditCardHolder
                </th>
                <td>
                    <input type="text" coco-pin="creditCardHolder" />
                </td>
            </tr>
            <tr>
                <th>
                    creditCardExpirationDate
                </th>
                <td>
                    <input type="text" coco-pin="creditCardExpirationDate" />
                </td>
            </tr>
            <tr>
                <th>
                    totalPrice
                </th>
                <td>
                    <span coco-pin="totalPrice"></span>
                </td>
            </tr>
            <tr>
                <th>
                    postage
                </th>
                <td>
                    <span coco-pin="postage"></span>
                </td>
            </tr>
            <tr>
                <th>
                    tax
                </th>
                <td>
                    <span coco-pin="tax"></span>
                </td>
            </tr>
            <tr>
                <th>
                    paymentAmount
                </th>
                <td>
                    <span coco-pin="paymentAmount"></span>
                </td>
            </tr>
        </tbody>
    </table>        
    <button type="button" coco-pin="checkout" class="btn btn-primary">checkout</button> 
</div>