<div> 
    <a href="/Cart/Cart">cart</a>
    <table>
        <thead>
            <tr>
                <th>Product Id</th>
                <th>Produnt Name</th>
                <th>Price</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td coco-pin="productId"></td>
                <td coco-pin="productName"></td>
                <td coco-pin="price"></td>
                <td><button coco-pin="buy" type="button">buy</button></td>
            </tr>        
        </tbody>
    </table>    
</div>