<button type="button" class="btn btn-default" data-event-onclick="clickCreate">new</button>
<table class="table table-striped">
    <thead>
        <tr>
            <th>detail</th>
            <th>id</th>
            <th>name</th>
        </tr>
    </thead>
    <tbody>
        <tr data-each="list">
            <td><button type="button" class="btn btn-default" data-event-onclick="clickDetail">detail</button></td>
            <td>{{id}}</td>
            <td>{{name}}</td>
        </tr>
    </tbody>
</table>
<div data-hook="detailHook" class="modal fade" role="dialog" data-component="detailComponent"></div>
