<div>
    <div class="row header">
        <div v-for="panel in getPanelOptions()" v-if="panel.type=='header'" v-bind:class="getPanelClassObject(panel.key, getPanelOptions())" v-bind:style="getPanelStyleObject(panel.key, getPanelOptions())">
            <component v-bind:is="panel.key" v-bind:dataContext="dataContext" v-on:publishToParent="handleFromChild"></component>
        </div>
    </div>
    <br />
    <div class="row body">
        <div v-for="panel in getPanelOptions()" v-if="panel.type=='main'" v-bind:class="getPanelClassObject(panel.key, getPanelOptions())" v-bind:style="getPanelStyleObject(panel.key, getPanelOptions())">
           <component v-bind:is="panel.key" v-bind:dataContext="dataContext" v-on:publishToParent="handleFromChild"></component>
        </div>
    </div>
    <br />
    <div class="row footer">        
        <div v-for="panel in getPanelOptions()" v-if="panel.type=='footer'" v-bind:class="getPanelClassObject(panel.key, getPanelOptions())" v-bind:style="getPanelStyleObject(panel.key, getPanelOptions())">
            <component v-bind:is="panel.key" v-bind:dataContext="dataContext" v-on:publishToParent="handleFromChild"></component>
        </div>
    </div>
</div>