<div class="col-sm-7">
    <div class="btn-group" role="group">        
        <button type="button" class="btn btn-primary" data-event-onclick="clickNewCreate">新規作成</button>  
        <button type="button" class="btn btn-primary" data-event-onclick="clickEdit">編集</button>        
    </div>
      
    <h4>xxxx/xx/xx</h4>
    <h3>xxxxxxxxxxxxxxxxxxx</h3>
    <p>
        ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
        enables a clean separation of concerns and gives you full control over markup
        for enjoyable, agile development.
    </p>    
</div>
<div class="col-sm-5">
    <h4>一覧</h4>
    <table class="table table-striped">
        <thead><tr><th>ID</th><th>日付</th><th>タイトル</th></tr></thead>
        <tbody>
            <tr><td>xxx</td><td>xxxx/xx/xx</td><td><a href="#">xxxxxxxxxxxxx</a></td></tr>
            <tr><td>xxx</td><td>xxxx/xx/xx</td><td><a href="#">xxxxxxxxxxxxx</a></td></tr>
            <tr><td>xxx</td><td>xxxx/xx/xx</td><td><a href="#">xxxxxxxxxxxxx</a></td></tr>
            <tr><td>xxx</td><td>xxxx/xx/xx</td><td><a href="#">xxxxxxxxxxxxx</a></td></tr>
            <tr><td>xxx</td><td>xxxx/xx/xx</td><td><a href="#">xxxxxxxxxxxxx</a></td></tr>
            <tr><td>xxx</td><td>xxxx/xx/xx</td><td><a href="#">xxxxxxxxxxxxx</a></td></tr>
            <tr><td>xxx</td><td>xxxx/xx/xx</td><td><a href="#">xxxxxxxxxxxxx</a></td></tr>
            <tr><td>xxx</td><td>xxxx/xx/xx</td><td><a href="#">xxxxxxxxxxxxx</a></td></tr>
            <tr><td>xxx</td><td>xxxx/xx/xx</td><td><a href="#">xxxxxxxxxxxxx</a></td></tr>
            <tr><td>xxx</td><td>xxxx/xx/xx</td><td><a href="#">xxxxxxxxxxxxx</a></td></tr>
        </tbody>
    </table>
    <nav>
        <ul class="pagination">
            <li><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
            <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
            <li><a href="#">2<span class="sr-only">(current)</span></a></li>
            <li><a href="#">3<span class="sr-only">(current)</span></a></li>
            <li><a href="#">4<span class="sr-only">(current)</span></a></li>
            <li><a href="#">5<span class="sr-only">(current)</span></a></li>
            <li><a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
        </ul>
    </nav>
</div>
<!-- Modal -->
<div class="modal fade" tabindex="-1" role="dialog" data-hook="editHook">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">編集</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">                        
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">ID:</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" placeholder="ID" value="xxx" readonly />
                                </div>    
                            </div>
                            <div class="form-group">
                                <label for="title" class="col-sm-2 control-label">題名:</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" placeholder="題名" />
                                </div>                                
                            </div>
                            <div class="form-group">
                                <label for="title" class="col-sm-2 control-label">日時:</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" placeholder="日時" />
                                </div>                                
                            </div>
                            <div class="form-group">
                                <label for="title" class="col-sm-2 control-label">内容:</label>
                                <div class="col-sm-10">
                                    <textarea class="form-control" placeholder="内容" rows="10"></textarea>
                                </div>
                                
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">                
                <button type="button" class="btn btn-primary" data-event-onclick="update">更新</button>
                <button type="button" class="btn btn-primary" data-event-onclick="remove">削除</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
            </div>
        </div>
    </div>
</div>