<div>
    <div class="message"></div>

    <a href="/person">list</a><br />
    <br />
    <form>
        <table>
            <thead>
                <tr>
                    <th><input class="allTarget" type="checkbox" /></th>
                    <th>Id</th>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
        <br />
        <label for="name">name</label>
        <br />
        <input type="text" name="name" />
        <br />
        <br />
        <button name="save" type="button">save</button>
    </form>
</div>
