<table class="table table-striped">
    <thead><tr><th>仮想マシン</th><th>応答</th><th>HTTPステータス</th></tr></thead>
    <tbody>
        <tr><td>xxxxxxxxx</td><td><span class="label label-success">Success</span></td><td>200 OK</td></tr>
        <tr><td>xxxxxxxxx</td><td><span class="label label-success">Success</span></td><td>200 OK</td></tr>
        <tr><td>xxxxxxxxx</td><td><span class="label label-danger">Danger</span></td><td>500 Internal Server Error</td></tr>
        <tr><td>xxxxxxxxx</td><td><span class="label label-success">Success</span></td><td>200 OK</td></tr>
    </tbody>
</table>