<div class="row">
    <div class="col-sm-8">
        <canvas data-hook="canvas"></canvas>
    </div>
    <div class="col-sm-4">
        <ul style='list-style-type:none;'>
            <li><span style="background-color: #F7464A; padding-left:15px; margin-right:5px;"></span>xxxxx</li>
            <li><span style="background-color: #46BFBD; padding-left: 15px; margin-right: 5px;"></span>xxxxx</li>
            <li><span style="background-color: #FDB45C; padding-left: 15px; margin-right: 5px;"></span>xxxxx</li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        稼動システム総数 100
    </div>
</div>       