<div>     
    <a href="/Shop/Product">product</a>
    <table class="table">
        <thead>
            <tr>                
                <th>PaymentId</th>
                <th>PaymentDate</th>
                <th>ShippingAddress</th>
                <th>PaymentAmount</th>                
            </tr>
        </thead>
        <tbody>
            <tr>
                <td coco-pin="paymentId"></td>
                <td coco-pin="paymentDate"></td>
                <td coco-pin="shippingAddress"></td>
                <td coco-pin="paymentAmount"></td>                                
            </tr>        
        </tbody>
    </table>       
</div>